@model IEnumerable<ChatManager.Models.User>

@{
    ViewBag.Title = "ChatRoom";
}


<div style="display: grid; grid-template-columns: 65px auto; align-items: center;">
    <img src="~/favicon.png" style="width: 56px;" />
    <h3>Salle de discussions</h3>
</div>

<div class="main">
    <div style="display: grid; grid-template-columns: 60px auto; column-gap: 10px;">
        <div class="friendsListContainer" id="friendListContainer">
            @foreach (var item in Model)
            {
                if (ChatManager.Models.OnlineUsers.GetSessionUser() != item)
                {
                    <div class="unselectedTarget" title="@item.FirstName @item.LastName" data-user-id="@item.Id">
                        @Helper.AvatarUser(item, "UserSmallAvatar", true)
                    </div>
                }
            }
        </div>
        <div>
            <div class="messagesPanel" id="messagePanel">
                <div class="messagesHeader">
                    <h4 id="Selected">Sélectionnez un ami.</h4>
                </div>
                @if (ViewBag.Messages != null)
                {
                    <span>HELLLLLLLLLLLLLLLLLOOOOOOOOOOOOOOOOOOOOOO</span>
                    foreach (var item in ViewBag.Messages)
                    {
                        @Helper.ParseContent(item.Message)
                    }
                }

            </div>
            <div class="sendMessageLayout">
                <input id="message" class="form-control" style="width:100% !important; max-width:1000px !important;" placeholder="Tapez votre message ici ..." title="Les urls d'image sont prises en compte.">
                <span id="send" class="icon fa fa-paper-plane" title="Envoyer" data-placement="bottom"></span>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script defer>
        $("#message").hide();
        $("#send").hide();

        // MESSAGES

        function SendMessage(userId) {
            //sending the message
;            $.ajax({
                url: "/Chat/SendMessage",
                type: "POST",
                data: { id: userId, message: $("#message").val() },
                success: function (response) {
                    console.log("Message sent: " + $("#message").val());
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("Error sending message: " + errorThrown);
                }
            });
            // Clear the message input
            $("#message").val("");
        }

        function ShowMessages(userId) {

            $.ajax({
                url: "/Chat/GetMessagesViewBag",
                type: "GET",
                data: { id: userId },
                success: function (response) {
                    console.log(response);
                    console.log(@ViewBag);
                    console.log(@ViewBag.Messages);
                },
                error: function (xhr, textStatus, errorThrown) {
                    console.log("Error sending message: " + errorThrown);
                }
            });
        }

        function HideFriendBorder() {
            $('.selectedTarget').each(function () {
                $(this).removeClass("selectedTarget");
                $(this).addClass("unselectedTarget");
            });
        }

        function ShowSelectedFriend(name, avatar) {
            var $contentContainer = $("<div>").addClass("avatar-content-container");
            avatar.css("display", "inline-block");
            avatar.css("margin-top", "10px");

            $contentContainer.append(avatar);
            //$contentContainer.append($("<div>").text(" " + name));
            var div = $("<span>").addClass("ellipsis");

            div.text(" " + name);

            $contentContainer.append(div);

            $("#Selected").empty().append("Conversation avec ", $contentContainer);

            $("#message").show();
            $("#send").show();
        }


        $(".unselectedTarget").click(function () {
            HideFriendBorder();

            $(this).addClass("selectedTarget");
            $(this).removeClass("unselectedTarget");

            //update header
            var avatarClone = $(this).find(".UserSmallAvatar").clone();
            avatarClone.removeClass("UserSmallAvatar");
            avatarClone.addClass("UserMediumAvatar");

            var friendName = $(this).attr("title");

            ShowSelectedFriend(friendName, avatarClone);

            //update message panel
            ShowMessages($(".selectedTarget").data("user-id"));
        })

        $("#send").click(function () {
            var userId = $(".selectedTarget").data("user-id");

            SendMessage(userId);
            ShowMessages(userId);
        })

        $(document).keydown(function (event) {
            if (event.keyCode === 27) {
                $("#message").val("");
            }
        });

</script>
}