@model IEnumerable<ChatManager.Models.User>

@{
    ViewBag.Title = "Index";
}

<div style="display: grid; grid-template-columns: 65px auto; align-items: center;">
    <img src="~/favicon.png" style="width: 56px;" />
    <h3>Salle de discussions</h3>
</div>

<div class="main">
    <div style="display: grid; grid-template-columns: 60px auto; column-gap: 10px;">
        <div class="friendsListContainer" id="friendListContainer">
            @foreach (var item in Model)
            {
                if (ChatManager.Models.OnlineUsers.GetSessionUser() != item)
                {
                   <div class="unselectedTarget" title="@item.FirstName @item.LastName" data-user-id="@item.Id" >
                       @Helper.AvatarUser(item, "UserSmallAvatar", true)
                   </div>
                }
            }
        </div>
        <div>
            <div class="messagesPanel" id="messagePanel">
                <div class="messagesHeader">
                    <h4 id="Selected">Sélectionnez un ami.</h4>
                </div>
            </div>
            <div class="sendMessageLayout">
                <input id="message" class="form-control" style="width:100% !important; max-width:1000px !important;" placeholder="Tapez votre message ici ..." title="Les urls d'image sont prises en compte.">
                <span id="send" class="icon fa fa-paper-plane" title="Envoyer" data-placement="bottom"></span>
                
            </div>
        </div>
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script defer>
        $("#message").hide();
        $("#send").hide();

        // MESSAGES 

        function SendMessage() {
            $("#message").text("");
        }

        function GetMessages() {
            $.ajax({
                url: "/api/messages",
                type: "GET",
                success: function (data) {
                    // Handle the successful response and display the messages
                    // Here, 'data' represents the returned list of messages

                    // Example: Loop through the messages and display them
                    for (var i = 0; i < data.length; i++) {
                        var message = data[i];
                        console.log(message); // Display the message in the console or use it as needed
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    // Handle any error that occurs during the request
        }

        function HideFriendBorder() {
            $('.selectedTarget').each(function () {
                $(this).removeClass("selectedTarget");
                $(this).addClass("unselectedTarget");
            });
        }

        function ShowSelectedFriend(name, avatar) {
            var $contentContainer = $("<div>").addClass("avatar-content-container");
            avatar.css("display", "inline-block"); 
            avatar.css("margin-top", "10px"); 

            $contentContainer.append(avatar);
            //$contentContainer.append($("<div>").text(" " + name));
            var div = $("<span>").addClass("ellipsis");

            div.text(" " + name);

            $contentContainer.append(div);

            $("#Selected").empty().append("Conversation avec ", $contentContainer);

            $("#message").show();
            $("#send").show();
        }


        $(".unselectedTarget").click(function () {
            HideFriendBorder();

            $(this).addClass("selectedTarget");
            $(this).removeClass("unselectedTarget");

            var avatarClone = $(this).find(".UserSmallAvatar").clone();
            avatarClone.removeClass("UserSmallAvatar");
            avatarClone.addClass("UserMediumAvatar");

            var friendName = $(this).attr("title");

            ShowSelectedFriend(friendName, avatarClone);
        })

        $("#send").click(function () {
            SendMessage();
        })
       
    </script>
}