@model IEnumerable<ChatManager.Models.User>

@{
    ViewBag.Title = "Index";
}

<div style="display: grid; grid-template-columns: 65px auto; align-items: center;">
    <img src="~/friendships.png" style="width: 56px;" />
    <h3>Gestion des amitiés</h3>
</div>

<hr />
<div style="display: grid; grid-template-columns: 295px 35px; align-items: center;">
    <input type="search" id="Search" placeholder="Recherche" class="form-control" />
    <span id="SearchButton" class="icon fa fa-search" style="padding-left: 10px;"></span>
</div>
<div class="friendfilters">

    <input type="checkbox" id="FilterNotFriend" class="filter" checked />
    <label for="FilterNotFriend" class="fa green fa-plus-circle" title="Afficher/Masqer les usagers qui ne sont pas encore ami avec vous."></label>
    <input type="checkbox" id="FilterRequest" class="filter" checked />
    <label for="FilterRequest" class="fa green fa-check" title="Afficher/Masqer les usagers qui vous ont envoyé une demande d'ami."></label>
    <input type="checkbox" id="FilterPending" class="filter" checked />
    <label for="FilterPending" class="fa green fa-clock-o" title="Afficher/Masqer les usagers a qui vous avez envoyé une demande d'ami"></label>
    <input type="checkbox" id="FilterFriend" class="filter" checked />
    <label for="FilterFriend" class="fa green fa-check-circle" title="Afficher/Masqer les usagers qui sont ami avec vous."></label>
    <input type="checkbox" id="FilterBlocked" class="filter" checked />
    <label for="FilterDeclined" class="fa red fa-times-circle" title="Afficher/Masqer les usagers qui vous ont bloqué."></label>
    <input type="checkbox" id="FilterBlocked" class="filter" checked />
    <label for="FilterBlocked" class="fa red fa-ban" title="Afficher/Masqer les usagers qui vous ont bloqué."></label>
</div>
<hr />

<div id="friendshipsListContainer">
    @foreach (var item in Model)
    {
        if (ChatManager.Models.OnlineUsers.GetSessionUser() != item)
        {
            <div class="friendContainer">
                <a href="mailto:@item.Email" title="Compte créé le @item.CreationDate">
                    @Helper.AvatarUser(item, "UserSmallAvatar")
                </a>
                @Helper.OnLineStatusIcon(ChatManager.Models.OnlineUsers.IsOnLine(item.Id))
            </div>
        }
    }
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script defer>

        $("#SearchButton").click(() => {
            var searchText = $("#Search").val().toLowerCase();

            $('#friendshipsListContainer .friendContainer').each(function () {
                var name = $(this).text().toLowerCase();
                if (name.includes(searchText)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });

        $("#FilterNotFriend").change(() => {
            console.log("No friends");
            window.location = "@Url.Action("SetFriendshipStatus")" + "/" + $("#Category").val();
        })

        $("#addOrRemoveFriend").click(() => {
            console.log("friends");
            var url = $(this).data('url');
            window.location.href = url;

        })

</script>
}
