@model IEnumerable<ChatManager.Models.User>

@{
    ViewBag.Title = "Index";
    bool listEmpty = true;
    bool noFriends = true;
}

<div style="display: grid; grid-template-columns: 65px auto; align-items: center;">
    <img src="~/friendships.png" style="width: 56px;" />
    <h3>Gestion des amitiés</h3>
</div>

<hr />
<div style="display: grid; grid-template-columns: 295px 35px; align-items: center;">
    <input type="search" id="Search" placeholder="Recherche" class="form-control" />
    <span id="SearchButton" class="icon fa fa-search" style="padding-left: 10px;"></span>
</div>
<div class="friendfilters">
    <input type="checkbox" id="FilterNotFriend" class="filter" checked />
    <label for="FilterNotFriend" class="fa green fa-plus-circle" title="Afficher/Masqer les usagers qui ne sont pas encore ami avec vous."></label>
    <input type="checkbox" id="FilterRequest" class="filter" checked />
    <label for="FilterRequest" class="fa green fa-check" title="Afficher/Masqer les usagers qui vous ont envoyé une demande d'ami."></label>
    <input type="checkbox" id="FilterPending" class="filter" checked />
    <label for="FilterPending" class="fa green fa-clock-o" title="Afficher/Masqer les usagers a qui vous avez envoyé une demande d'ami"></label>
    <input type="checkbox" id="FilterFriend" class="filter" checked />
    <label for="FilterFriend" class="fa green fa-check-circle" title="Afficher/Masqer les usagers qui sont ami avec vous."></label>
    <input type="checkbox" id="FilterDenied" class="filter" checked />
    <label for="FilterDeclined" class="fa red fa-times-circle" title="Afficher/Masqer les usagers qui vous ont bloqué."></label>
    <input type="checkbox" id="FilterBlocked" class="filter" checked />
    <label for="FilterBlocked" class="fa red fa-ban" title="Afficher/Masqer les usagers qui vous ont bloqué."></label>
</div>
<hr />

<div id="friendshipListContainer">
    @foreach (var item in Model)
    {
        if (ChatManager.Models.OnlineUsers.GetSessionUser() != item)
        {
            <div class="friendContainer">
                <a href="mailto:@item.Email" title="Compte créé le @item.CreationDate">
                    @Helper.AvatarUser(item, "UserSmallAvatar")
                </a>
                @Helper.OnLineStatusIcon(ChatManager.Models.OnlineUsers.IsOnLine(item.Id))

                @{
                    if (item.Blocked)
                    {
                        <span class="fa red fa-ban icon" title="Usager bloqué par l'administrateur"></span>
                    }
                    else
                    {
                        foreach (var friendship in ViewBag.friendship)
                        {
                            listEmpty = false;
                            if (friendship.IdUser1 == item.Id || friendship.IdUser2 == item.Id)
                            {
                                noFriends = false;
                                if (friendship.Status == "Requested" && ChatManager.Models.OnlineUsers.GetSessionUser().Id == friendship.IdUser1)
                                {
                                    <div style="display: grid; grid-template-columns: 30px 30px;">
                                        <span class="fa green fa-clock-o icon" title="En attente de  @item.GetFullName(false)"></span>
                                        <a href="/Friendships/RemoveFriendshipRequest1/@item.Id">
                                            <span class="fa red fa-times icon" title="Retirer la demande d'ami à @item.GetFullName(false)"></span>
                                        </a>
                                    </div>
                                }
                                else if (friendship.Status == "Requested" && ChatManager.Models.OnlineUsers.GetSessionUser().Id == friendship.IdUser2)
                                {
                                    <div style="display: grid; grid-template-columns: 30px 30px;">
                                        <a href="/Friendships/AcceptF\riendshipRequest/@item.Id">
                                            <span class="fa green fa-check icon" title="Accepter la demande d'ami de @item.GetFullName(false)"></span>
                                        </a>
                                        <a href="/Friendships/DeclineFriendshipRequest/@item.Id">
                                            <span class="fa red fa-times icon" title="Refuser la demande d'ami de @item.GetFullName(false)"></span>
                                        </a>
                                    </div>
                                }
                                else if (friendship.Status == "Friend")
                                {
                                    <div style="display: grid; grid-template-columns: 30px 30px;">
                                        <span class="fa green fa-check-circle icon" title="Accepter la demande d'ami de @item.GetFullName(false)"></span>
                                        @{
                                            if (ChatManager.Models.OnlineUsers.GetSessionUser().Id == friendship.IdUser1)
                                            {
                                                <a href="/Friendships/RemoveFriendshipRequest1/@item.Id">
                                                    <span class="fa red fa-times icon" title="Retirer l'amitié avec @item.GetFullName(false)"></span>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/Friendships/RemoveFriendshipRequest2/@item.Id">
                                                    <span class="fa red fa-times icon" title="Retirer l'amitié avec @item.GetFullName(false)"></span>
                                                </a>
                                            }
                                        }

                                    </div>
                                }
                                else if (friendship.Status == "Declined")
                                {
                                    <div style="display: grid; grid-template-columns: 30px 30px;">
                                        <span class="fa red fa-times-circle icon" title="Demande d'ami refusé par @item.GetFullName()"></span>
                                        <a href="/Friendships/SendFriendshipRequest/@item.Id">
                                            <span class="fa green fa-plus-circle icon" title="Envoyer une demande d'ami à @item.GetFullName(false)"></span>
                                        </a>
                                    </div>

                                }
                            }
                        }
                        if (listEmpty || noFriends)
                        {
                            <a href="/Friendships/SendFriendshipRequest/@item.Id">
                                <span class="fa green fa-plus-circle icon" title="Envoyer une demande d'ami à @item.GetFullName(false)"></span>
                            </a>
                        }

                        noFriends = true;
                    }
                }

            </div>
        }
    }
</div>




@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script defer>
        $("#SearchButton").click(() => {
            var searchText = $("#Search").val().toLowerCase();

            $('#friendshipsListContainer .friendContainer').each(function () {
                var name = $(this).text().toLowerCase();
                if (name.includes(searchText)) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });


        $('#FilterNotFriend').click(function () {
            status.command("/Friendships/SetFilterNotFriend?check=" + $(this).is(':checked'));
        })

        window.setInterval(function () {
            $.ajax({
                url: '/Chat',
                type: "POST",
                success: function (partialViewHtml) {
                    $("#friendshipListContainer").html(partialViewHtml);
                });
        },
            error: function () {
                alert('Erreur');
            }
                });
            }, 5000);

    </script>
}
